[submodule "third_party/zsh-autosuggestions"]
	path = third_party/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "third_party/zsh-syntax-highlighting"]
	path = third_party/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "third_party/oh-my-zsh"]
	path = third_party/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "third_party/fzf"]
	path = third_party/fzf
	url = https://github.com/junegunn/fzf.git
